In [ ]:
Q1.

In [ ]:
A database is a structured collection of data that is organized in a way that makes it easy to manage, retrieve, and update. Databases are used in various applications and systems to store and manage large volumes of information efficiently

In [ ]:
SQL : SQL databases are relational databases, meaning they organize data into tables with predefined schema, and relationships between tables can be established.
EX : MySQL, PostgreSQL, Oracle, SQL Server.

In [ ]:
NoSQL : NoSQL databases are non-relational and do not require a fixed schema. They can store unstructured and semi-structured data.
EX : MongoDB, Cassandra, Redis, CouchDB.

In [ ]:
Q2.

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that deals with the structure or schema of a database

In [ ]:
CREATE :

In [ ]:
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  hire_date DATE
);

In [ ]:
ALTER :

In [ ]:
ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

In [ ]:
DROP :

In [ ]:
DROP TABLE employees;

In [ ]:
TRUNCATE :

In [ ]:
TRUNCATE TABLE employees;

In [ ]:
Q3.

In [ ]:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) responsible for the manipulation of data stored in a database.

In [ ]:
SELECT first_name, last_name FROM employees WHERE department_id = 1;

In [ ]:
INSERT :

In [ ]:
INSERT INTO employees (first_name, last_name, hire_date) VALUES ('John', 'Doe', '2023-01-15');

In [ ]:
DELETE :

In [ ]:
DELETE FROM employees WHERE employee_id = 101;

In [ ]:
UPDATE :

In [ ]:
UPDATE employees SET salary = salary * 1.1 WHERE department_id = 2;

In [ ]:
Q4.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) specifically designed for querying and retrieving data from a database.

In [ ]:
SELECT column1, column2
FROM table
WHERE condition;

In [ ]:
SELECT first_name, last_name
FROM employees
WHERE department_id = 1;

In [ ]:
Q5.

In [ ]:
PRIMARY kEY : A primary key is a column or a set of columns in a relational database table that uniquely identifies each record (row) in that table. The primary key must have a unique value for each row and cannot contain null values.

In [ ]:
FOREIGN KEY : A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between the two tables by referencing the primary key of another table, creating a relationship between them.

In [ ]:
Q6.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
 The cursor() method is used to create a cursor object. A cursor is an object that allows you to interact with the database by executing SQL queries and fetching results.

In [ ]:
The execute() method is used to execute a SQL query or command. It takes a SQL string as an argument and executes that query.

In [ ]:
Q7.

In [ ]:
The order of execution of SQL clauses in a query generally follows a specific sequence
F